body {
  color:#222;
  background: #E8E8E8;
  font: 400 14px Coresans, Arial, sans-serif;
}

input {
  padding:5px;
  border-radius: 10px;
  margin-right: 10px;
  border: 1px solid #dddddd;
  display:inline-block;
}

button {
  padding:10px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  background: #dddddd;
  cursor:pointer;
}

label {
  padding:10px;
  display: inline-block;
  white-space: nowrap;
}

table{
  width:250px;
}

th {
  text-align:left;

}

#root {
  position:relative;

}

#openingInfo{
  position:relative;
}